@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700;800&family=Noto+Sans:wght@400;700&display=swap");

:root {
    --white: #fcfcfd;
    --black: #363738;
    --pink_primary: #fb508e;
    --sef_primary: #28eea7;
    --grey: #a5a6a9;
    --black-2: #232323;
    --daf_primary: #fb4747;
    --background: #f1f2f3;
    --ylw_primary: #ffc635;
    --ppl_primary: #9864da;
    --overlay-black: rgba(35, 35, 35, 0.9);
    --light_grey: #dcdee1;
    --hrf_primary: #31b7f0;
    --overlay-green: rgba(40, 238, 167, 0.9);
    --ghost-white: #ecedf3;
    --purple-overlay: rgba(152, 100, 218, 0.9);
    --main-padding: 20px 6%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body{
    scroll-behavior: smooth;
    position: relative;
}

h1,h2,h3 {
    font-family: "Noto Sans mono", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    font-size: 2.1rem;
}

h2 {
    font-size: 1.55rem;
}

p {
    font-family: "Noto Sans mono", sans-serif;
    font-size: 1rem;
}

a {
    font-size: 1rem;
    padding: 12px 20px;
    font-family: "Noto Sans mono", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: transform 0.1s ease-in;
}

ul {
    list-style: none;
}

.hidden{
    display: none;
    opacity: 0;
}


.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
}

.section-header--title p{
    display: flex;
    align-items: center;
    padding:0 20px;
    gap: 15px;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--black);
}

.section-header--title span{
    display: block;
    font-size: 2rem;
    font-weight: 800;
}

.section-header--icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-header--icons div{
    width: 25px;
    height: 25px;
    background-color:black;
    border-radius: 50%;
}





